@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 18px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: $default-font
	overflow-x: hidden
	font-weight: 400
	color: $text
	&.ishome
		//min-height: 700px
		height: 100vh
		background-size: cover
		background-repeat: no-repeat
		background-position: bottom center
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
a
	color: $accent
	text-decoration: underline
	transition: all .2s ease
	&:hover
		text-decoration: none
		color: $accent
img
	display: block
	max-width: 100%
	height: auto

b, strong
	font-weight: 600
.acc-c
	color: $accent

.welcome
	color: #fff
	font-size: .94vmax
	display: flex
	align-items: flex-end
	height: 100%
	&__block
		max-width: 78.1vw
		width: 100%
		margin: 0 auto 4%
		position: relative
		z-index: 1
		padding: 3.65vmax 85px
		&:before
			content: ''
			display: block
			width: 95%
			height: 100%
			background-color: rgba(#000, .88)
			position: absolute
			left: 0
			top: 0
			z-index: -1
		&-content
			width: 50%
		.site-name
			position: absolute
			right: 0
			bottom: 0
	&__logo
		display: flex
		align-items: center
		img
			margin-right: 30px
		&--descr
			height: 100%
			span
				display: block
				text-transform: uppercase
				font-weight: 300
				line-height: 1
			.name
				font-size: 48px
				letter-spacing: 5.76px
				margin-top: 9px

