@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 18px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: $default-font
	overflow-x: hidden
	font-weight: 400
	color: $text
	&.ishome
		min-height: 100vh
		height: auto
		background-size: cover
		background-repeat: no-repeat
		background-position: bottom center
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
a
	color: $accent
	transition: all .2s ease
	text-decoration: none
	&:hover
		text-decoration: underline
		color: lighten($accent, 5%)
img
	display: block
	max-width: 100%
	height: auto

b, strong
	font-weight: 600

ul, li
	list-style: none
	padding: 0
	margin: 0
.acc-c
	color: $accent

.welcome
	color: #fff
	font-size: .94vmax
	display: flex
	align-items: flex-end
	min-height: 100vh
	height: 100%
	//padding-top: 6vw
	&__block
		max-width: 78.1vw
		width: 100%
		margin: 0 auto 4%
		position: relative
		z-index: 1
		padding: 3.65vmax 4.43vw
		&:before
			content: ''
			display: block
			width: 95%
			height: 100%
			background-color: rgba(#000, .88)
			position: absolute
			left: 0
			top: 0
			z-index: -1
		&-content
			width: 50%
		.site-name
			position: absolute
			right: -7vw
			bottom: 13vmax
			transform: rotate(-90deg)
			font-size: 3.2vmax
			font-weight: 300
			letter-spacing: 5px
			text-transform: uppercase
			margin-bottom: 0
	&__logo
		width: 20.3vw
		display: flex
		align-items: center
		margin-bottom: 1.56vw
		&--descr
			height: 93px
			display: flex
			flex-direction: column
			justify-content: space-between
			span
				display: block
				text-transform: uppercase
				font-weight: 300
				line-height: .8
			.name
				font-size: 48px
				letter-spacing: 5.76px
				margin-top: 20px
			.subname
				font-size: 22px
				font-weight: 200
				letter-spacing: 2.64px
	&-hi
		font-size: 3.43vmax
		font-weight: 400
		line-height: 1
		margin-bottom: 1.04vw
		span
			font-size: 2.76vmax
	&__text
		padding-bottom: 5.73vmax
		p
			margin-bottom: 1vw
		a
			font-size: 1.25vmax
			font-weight: 500
			text-decoration: none
	.pizdulka
		width: 1.7vw
		height: 1.7vw
		background-color: $accent
		position: absolute
		left: 48%
		top: 80%
	.sections__site
		font-size: 1.66vmax
		font-weight: 700
		letter-spacing: 3.84px
		text-transform: uppercase
		position: absolute
		left: 0
		bottom: 0
		width: 100%
		display: flex
		justify-content: space-between
		align-items: center
		text-align: center
		a
			color: #fff
			text-decoration: none
			width: 50%
			padding: 2.08vmax
			background-color: $accent
			&:last-child
				background-color: #2E1559
				&:hover
					background-color: lighten(#2E1559, 5%)
			&:hover
				background-color: darken($accent, 5%)

	.ksy-photo
		width: 32vw
		position: absolute
		right: 0
		bottom: 4.16vmax
.mobile-btn
	width: 50px
	height: 50px
	background-color: transparent
	border: none
	cursor: pointer
	padding: 0

.mobile-btn span
	width: 25px
	height: 2px
	background-color: #fff
	display: block
	margin: 3px auto
	-webkit-transform: rotate(0)
	-ms-transform: rotate(0)
	-o-transform: rotate(0)
	transform: rotate(0)
	opacity: 1
	-webkit-transition: all .2s ease-in-out
	-o-transition: all .2s ease-in-out
	transition: all .2s ease-in-out


.mobile-btn.active span:first-child 
	-webkit-transform: rotate(45deg)
	-ms-transform: rotate(45deg)
	-o-transform: rotate(45deg)
	transform: rotate(45deg)
	position: relative
	top: 5px

.mobile-btn.active span:nth-child(2) 
	opacity: 0

.mobile-btn.active span:last-child 
	-webkit-transform: rotate(-45deg)
	-ms-transform: rotate(-45deg)
	-o-transform: rotate(-45deg)
	transform: rotate(-45deg)
	position: relative
	top: -5px

.header
	background-color: #000
	&__top
		display: flex
		align-items: center
		justify-content: space-between
		padding: 15px 0
		.custom-logo-link
			width: 38px
		&--right
			nav
				ul
					display: flex
					margin: 0
					li
						margin-right: 45px
						&:last-child
							margin-right: 0
							a
								text-decoration: underline
								&:hover
									text-decoration: none
							img
								margin-top: 3px
						a
							color: #fff
							display: flex
							align-items: center
							img
								margin-right: 10px
							.count
								margin-right: 6px




